<p id="notice"><%= notice %></p>

<h1>Listing Pizza Pies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizza_pies.each do |pizza_py| %>
      <tr>
        <td><%= link_to 'Show', pizza_py %></td>
        <td><%= link_to 'Edit', edit_pizza_py_path(pizza_py) %></td>
        <td><%= link_to 'Destroy', pizza_py, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza py', new_pizza_py_path %>
